body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}
.social {
    margin: 20px;
}

.sub-section {
    background-color: rgb(103, 167, 223);
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    background-color: rgb(221, 241, 254);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    background-color: rgb(103,167,223);
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}
#skills{
    background-color: rgb(165, 219, 255);   
}
#skill-section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(165,219,255);
}

.project-container {
    display: flex;
    justify-content: space-around;
}


.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 800px) {
    .hero{
        height:600px;
    }
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
    .socials{
        display: none;
    }
    #skill-section{
        display: flex;
        flex-direction: column;
    }
    #name{
        font-size: 45px;
    }
    #nameDescription{
        font-size:25px;
    }
    .button{
        font-size: 20px;
        width: 150px;
        height: 40px;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #myimage{
        display:none
    }
    .aboutme{
        font-size: 20px;
    }
    #aboutme{
        display: flex;
        flex-direction:column;
        justify-items:center;
        
    }
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: flex;
        height: 0px;
        flex-direction: column;
        font-size:20px;
        background-color: #2b2c38;
        margin: auto;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
    #contact-header{
        font-size: 30px;
    }
    .email{
        font-size: 15px;
    }
}
